<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 " *ngIf="!isRequested">
            <form [formGroup]="InsertForm" (ngSubmit)="onSubmit()">
                <h5>Enter your phone number or recovery email</h5> <br>
                <div class="form-group">
                    <label>username/Mobile</label>
                    <input type="number" formControlName="Mobile" class="form-control"
                        [ngClass]="{'is-invalid': submitted && f['Mobile'].errors}">
                    <div *ngIf="submitted && f['Mobile'].errors" class="invalid-feedback">
                        <div *ngIf="f['Mobile'].errors['required']">Mobile is required </div>
                        <div *ngIf="f['Mobile'].errors['minlength']">Mobile must be atleast 6 characters
                        </div>
                    </div>
                </div> <br>
                <div class="form-group">
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>


        <!-- confirmed password -->

        <div class="row mt-5" *ngIf="isRequested">
            <div class="col-lg-6 ">
                <form [formGroup]="newpasswordform" (ngSubmit)="onsubmitpassword()">
                    <h5>Confirmed P
                        
                        assword</h5> <br>
                    <div class="form-group">
                        <label> New Password</label>
                        <input type="password" formControlName="NewPassword" class="form-control"
                            [ngClass]="{'is-invalid': submittedpassword && Pf['NewPassword'].errors}">
                        <div *ngIf="submittedpassword && Pf['NewPassword'].errors" class="invalid-feedback">
                            <div *ngIf="Pf['NewPassword'].errors['required']">NewPassword is required </div>
                            <div *ngIf="Pf['NewPassword'].errors['minlength']">NewPassword must be atleast 6 characters
                            </div>
                        </div>
                        </div> <br>

                        <div class="form-group">
                            <label>ConfirmedPassword</label>
                            <input type="password" formControlName="ConfirmedPassword" class="form-control"
                                [ngClass]="{'is-invalid': submittedpassword && Pf['ConfirmedPassword'].errors}">
                            <div *ngIf="submittedpassword && Pf['ConfirmedPassword'].errors" class="invalid-feedback">
                                <div *ngIf="Pf['ConfirmedPassword'].errors['required']">ConfirmedPassword is required </div>
                                <div *ngIf="Pf['ConfirmedPassword'].errors['minlength']">ConfirmedPassword must be atleast 6 characters
                                </div>
                                <div  *ngIf="Pf['ConfirmedPassword'].errors['confirmedValidator']"> password is not matched

                                </div>
                          
                            </div>
                            </div> <br>




                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>


    </div>
     <div> 